# This file is used to configure npm. For more information, see:
# https://docs.npmjs.com/cli/v8/configuring-npm/npmrc
# npm ci will fail if you have any local package.json changes
shamefully-hoist=true
strict-peer-dependencies=false
ignore-workspace-root-check=true